.bg-container{
  background-color: white;
  color: black;
  height: 100vh;
}
#colorPickerHeader{
  color: cornflowerblue;
}
.button{
  border-radius: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  height: 100px;
  width: 100px;
}
.backgroundColor{
  background-color: black;
  color: white;
  border-radius: 8px;
}
#button1{
  background-color: #e0e0e0;
}
#button2{
  background-color: #6fcf97;
}
#button3{
  background-color: #56ccf2;
}
#button4{
  background-color: #bb6bd9;
}