.project-section{
    background-color: #3e4c59;
}
.project-card{
    background-color: #323f4b;
    border-radius: 10px;

}
h1,h2{
    color: white;
}
p{
    color: #9aa5b1;
}
h3{
    color: #cced00;
}
.a-color{
    color: #cced00;
}
.project-img{
    height: 230px;
}
.main-heading{
    font-size: 28px;
    font-weight: 700;
}
.small-heading{
    font-size: 18px;

}
.card-heading{
    font-size: 24px;
}
