.logo1{
    height: 70px;
    width: 80px;
}
.nav-item1{
    color: white;
}
#custom-nav-link1{
    font-family: "Roboto";
}
.banner-section-bg-container{
    background-size: cover;
    height: 100vh;
    background-image: url('https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/foodmunch-banner-bg.png');
}
.banner-heading{
    color: white;
    font-family: "Roboto";
    font-size: 45px;
    font-weight: 300;
}
.banner-caption{
    color: #f5f7fa;
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 300;
}
.custom-button{
    border-width: 0px;
    color: white;
    height: 45px;
    width: 130px;
    border-radius: 8px;
    margin-right: 10px;
    background-color: #d0b200;
}
.custom-button-outline{
    border-width: 1px;
    color: #d0b200;
    height: 45px;
    width: 130px;
    border-radius: 8px;
    background-color: transparent;
    border-color: #d0b200;
    border-style: solid;
}
.wcu-section{
    background-color: #f9fbfe;
}
.wcu-section-heading{
    font-weight: 700;
    font-family: "Roboto";
    font-size: 28px;
    color: #183b56;
}
.wcu-section-desc{
    font-family: "Roboto";
    font-size: 16px;
    color: #5a7184;
}
.wcu-card{
    background-color: white;
    text-align: center;
    border-width: 1px;
    border-radius: 16px;
    border-color: #e5eaf4;
    border-style: solid;
}
.wcu-card-image{
    height: 90px;
    width: 87px;
}
.wcu-card-heading{
    font-weight: 500;
    font-family: "Roboto";
    font-size: 25px;
    color: #323f4b;
}
.wcu-card-desc{
    font-family: "Roboto";
    font-size: 16px;
    color: #7b8794;
}
.offers{
    font-style: italic;
    font-weight: 600;
    color: #323f4b;
}
.explore-menu-section{
    background-color: white;
}
.explore-menu-section-heading{
    font-weight: 700;
    font-family: "Roboto";
    font-size: 28px;
    color: #183b56;
}
.explore-menu-card{
    border-radius: 16px;
}
.menu-card-image{
    border-radius: 16px;
    height: 204px;
}
.menu-card-heading{
    font-weight: 500;
    font-family: "Roboto";
    font-size: 18px;
    color: #323f4b;
    margin-top: 24px;
}
.menu-card-desc{
    color: #d0b200;
    font-weight: 500;
    font-family: "Roboto";
    font-size: 14px;

}
