.bottom-section{
    
    margin: 15px;
}
.heading1{
    color: #323f4b;
    margin: 5px;
}
p{
    color: #9aa5b1;

}
.bottom-img{
    margin: 5px;
    height: 115px;
}
.video-section{
    margin: 5px;
    height: 115px;
    border-radius: 8px;
}
